.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 2.171rem;
  height: 1.9rem;

  div {
    height: 0.4rem;
    background-color: var(--gray);
  }
}

header {
  background-color: var(--dark-blue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  img {
    height: 3.9rem;
  }
}
