.who-are-we {
  background: var(--dark-blue);

  h2 {
    font-size: 2rem;
    color: var(--white);
    padding-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    color: var(--white);
  }
}

.who-are-we__principal {
  p {
    font-size: 1.6rem;
    color: var(--white);
    padding-bottom: 3rem;
  }

  img {
    width: 100%;
    padding-bottom: 5.5rem;
  }
}

.who-are-we__opinions {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;

  margin-bottom: 1.5rem;

  h2 {
    font-size: 2.4rem;
    text-align: initial;
  }

  figure {
    width: 17rem;
    margin: 0 auto;
    img {
      width: 12.5rem;
    }

    figcaption {
      & :nth-child(1) {
        font-weight: 700;
        font-size: 1.4rem;
      }

      & :nth-child(2) {
        font-style: italic;
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .container {
    padding: 5rem;
  }

  .who-are-we {
    display: flex;
    height: 77.5rem;
  }

  .who-are-we__principal {
    display: flex;
    align-items: center;

    h2 {
      font-size: 5.2rem;
    }

    p {
      font-size: 3rem;
    }

    // Estou deixando os dois elementos abaixo com flex: 1, mas eu gostaria de deixar a classe .who-are-we__text com a largura fixa de 715px. Não consegui isso sem bugar a imagem.
    .who-are-we__text {
      flex: 1;
    }

    img {
      flex: 1;
      padding: 0;
    }
  }

  .who-are-we__opinions {
    display: none;
  }
}
